@import '../settings/colors';

@mixin school-diary-mat-card($theme) {
  .school-diary-mat-card-container {
    display: flex;
    align-items: center;
    height: 100vh;

    mat-card {
      width: 100%;
    }

    .button-action,
    .button-back {
      position: absolute;
      top: 35px;
    }

    .button-action {
      right: 60px;
    }

    .button-back {
      left: 60px;
    }
  }

  mat-card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25) !important;
    transition: none !important;
    border-radius: 5px !important;
    color: $school-diary-grey-700;
    background: #fff;

    &.school-diary-mat-card {
      position: relative;
      padding: 40px 70px 50px !important;
      height: 90vh;

      mat-card-footer {
        position: absolute;
        bottom: 5%;
        left: 15px;
      }

      mat-card-content {
        display: flex;
        height: 85%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;

        table {
          max-height: 100%;
        }
      }
    }
  }

  mat-card-header,
  mat-card-footer {
    width: 100%;
    display: block;
    font-weight: 700;
  }

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
  }

  mat-card-footer > div {
    margin-top: 18px;
  }

  mat-card-title {
    font-size: 30px;
    margin: 0;
  }
}
